*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    a{
        text-decoration: none;
    }
}
body{
    background: linear-gradient(to right,$color-purple-0 0%,$color-green-0 100%);
    h1{
        text-align: center;
        margin: 50px;
        background: linear-gradient(to left, $color-blue-0,$color-yellow-0,$color-pink-0,$color-pink-1);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
}
.content{
    @include bgGlass();
    width: 80%;
    min-height: 100vh;
    margin: $mg-5 auto;
}
@media screen and (max-width:768px) {
    body{
        font-size: $fs-1;
    }
    h1{
        font-size: $fs-0;
    }
}