.header{
    width: 80%;
    margin: auto;
    position: fixed;
    z-index: 10;
    left: 10%;
    
    .navbar{
        border-radius: 16px;
        background: rgba($color: $color-white-0, $alpha: 0.5)!important;
        backdrop-filter: blur(10px);
        margin-top: $mg-1;
        padding: $pd-2;
    }
    .header__content{
        justify-content: space-between;
        #header__item{
            flex-grow: unset;
        }
    }
}