.header{
    width: 80%;
    margin: auto;
    position: fixed;
    z-index: 10;
    left: 10%;
    .navbar{
        border-radius: 16px;
    }
    .header__content{
        justify-content: space-between;
        #header__item{
            flex-grow: unset;
        }
    }
}