.home{
    padding-top: 100px;
    position: relative;
    .home__text{
        position: relative;
        @include bgGlass();
        margin-left: $mg-5;
    }
    .home__img{
        text-align: center;
    }
}