.home{
    padding-top: 100px;
    position: relative;
    .home__content{
        justify-content: center;
        align-items: flex-end;
    }
    .home__text{
        position: relative;
        @include bgGlass();
        margin-left: $mg-5;
    }
    .home__img{
        text-align: center;
    }
}
@media only screen and (max-width:767px){
    #home .home__content{
        flex-direction: column-reverse;
        .home__text{
            width: 85%;
        }
    }
}