//Color
$color-black-0: #000;
$color-white-0: #fff;
$color-purple-0: #5f2c82;
$color-green-0: #49a09d;
$color-pink-1: #f32170;
$color-pink-0: #ff00eb;
$color-yellow-0: #ffeb07;
$color-blue-0: #2196f3;
$color-blue-1: #0000ff;
//Font Size
$fs-0: 16px; //default
$fs-1: 12px;
$fs-2: 14px;
$fs-3: 18px;
$fs-4: 24px;
//Margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;
$mg-5: 30px;
//Padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 30px;
//Font Weigth
$fw-normal: normal;
$fw-bold: bold;
$fw-bold-0: 400;
$fw-bold-1: 500;
$fw-bold-2: 600;
$fw-bold-3: 700;
